@import url(base.min.css);
@import url(swiper.min.css);
@import url(common.min.css);

#header .logo {margin-left: 20px;}

select{width: auto;padding: 0 5%;margin: 0;}

option{text-align:center;}


body{ min-width: 1400px;}
		
.span2{text-align:right;}
		
.icon_a{margin-top:0;}
		
#header{line-height:255px !important;}
		
#ul_52 li a{padding-left:56px;}
		
#ul_52 li>ul>li>a{padding-left:70px;}
		
.menu-h1{    padding-bottom: 35px;height:auto;}
		
.txt_img>img{margin-top:70px;}
		
